@import "tailwindcss";

:root {
  --terminal-bg: rgba(10, 10, 12, 0.95);
}

body {
  cursor: crosshair !important;
  background-color: #050505;
  color: #e4e4e7;
}

/* Keep your custom SVG animations here */
.outlined-text-svg.animated {
  stroke-dasharray: 100 800;
  animation: strokeDashMove 4s linear infinite;
}

@keyframes strokeDashMove {
  0% {
    stroke-dashoffset: 900;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
